---
import BaseHead from "$/components/BaseHead.astro";
import PageFooter from "$/components/PageFooter.astro";
import PageHeader from "$/components/PageHeader.astro";
import { getClearCookie, getMemberIdFromCookie } from "$/lib/auth";
import { sql } from "$/lib/db";
import { Member } from "$/types/db";

const memberId = getMemberIdFromCookie(Astro.request.headers.get('cookie'))
const member = memberId != null ? (await sql<Member[]>`SELECT * FROM members WHERE id = ${memberId}`).pop() : undefined

if (!member && memberId != null) {
	Astro.response.headers.set('Set-Cookie', getClearCookie('token'))
}

const dialog = new URL(Astro.request.url).searchParams.get('dialog')
const showLoggedOut = !member && dialog === 'logged-out'
const showLoginLinkEmailSent = !member && dialog === 'login-link-email-sent'
const showLoginInvalidCredentials = !member && dialog === 'login-invalid-credentials'
const showLoginInvalidEmail = !member && dialog === 'login-invalid-email'
const showLoginCompleted = !!member && dialog === 'login-completed'
const showRegisterCompleted = !!member && dialog === 'register-completed'
const showInvalidLoginToken = !member && dialog === 'invalid-login-token'
const showLoginFailed = !member && dialog === 'login-failed'

if (member || dialog != null) {
	Astro.response.headers.set('Cache-Control', 'private, max-age=30')
	Astro.response.headers.set('X-Robots-Tag', 'noindex')
}

---

<html lang="fi">

<BaseHead title="Omat tiedot Mellonissa" description="Käyttäjätiedot Mellonissa ja tietoa tietosuojasta" />

<body>
	<PageHeader />
	<main id="main">
		{showLoginFailed && <div>Salasanaa tarkastaessa tapahtui odottamaton virhe, joten kirjautuminen ei onnistunut.
		</div>}
		{showInvalidLoginToken && <div>Virheellinen tai vanhentunut kirjautumistunniste.</div>}
		{showRegisterCompleted && <div>Kiitos tunnuksen luomisesta! Voit nyt ilmoittautua miitteihin.</div>}
		{showLoginCompleted && <div>Sinut on kirjattu sisään!</div>}
		{showLoggedOut && <div>Sinut on kirjattu ulos!</div>}
		{showLoginLinkEmailSent && <div>Kirjautumislinkki on lähetetty sähköpostiisi ja sen pitäisi saapua pian. Viesti
			saattaa viipyä matkalla mm. työpaikkojen sähköpostien turvatarkistuksien vuoksi. Jos viesti ei saavu
			perille, niin yritä uudelleen tai kokeile eri sähköpostiosoitetta.</div>}
		{showLoginInvalidCredentials && <div>Kirjautuminen ei onnistunut: väärä salasana tai sähköpostiosoite.</div>}
		{showLoginInvalidEmail && <div>Kirjautuminen ei onnistunut: sähköpostiosoite ei näyttänyt sähköpostiosoitteelta.
		</div>}

		<h1>Omat tiedot</h1>

		{member ? <div>
			<form action="/profile/logout" method="POST">
				<p>
					Tervehdys <code>{member.email}</code>!<br />
					<button type="submit">Kirjaudu ulos</button>
				</p>
			</form>
			<form action="/profile/update" method="POST">
				<h2>Tunnuksen tiedot</h2>
				<p>
					<label>Julkinen nimi / nimimerkki: <input id="publicname" name="publicname"
							placeholder="Nimi ilmoittautumislistalla" required type="text" value={member.publicname}
							autocomplete="nickname" /></label><br />
					<small>Pakollinen. Ilmoittautumislistalla näkyvä nimi, kuten nimimerkki, kutsumanimi tai oikea
						etunimi.</small>
				</p>
				<p>
					<label>Etu- ja sukunimi: <input id="fullname" name="fullname" placeholder="Oikea nimesi" required
							type="text" value={member.fullname} autocomplete="name" /></label><br />
					<small>Pakollinen. Tapahtuman järjestäjä saa tietää nimesi.</small>
				</p>
				<p>
					<label>Syntymäpäivä muotoa VVVV-KK-PP: <input id="dob" name="dob" placeholder="2001-12-19" required
							type="text" value={member.dob?.toISOString().slice(0, 10) || '' }
							pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])"
							autocomplete="off" /></label><br />
					<small>Pakollinen. Esimerkki: 2001-12-19. Järjestäjä saa tietää ikäsi tapahtuman alkaessa, mutta ei
						syntymäpäivääsi.</small>
				</p>
				<p>
					<label>Puhelinnumero: <input id="phone" name="phone" placeholder="+358401234567" type="tel"
							value={member.phone} autocomplete="tel" /></label><br />
					<small>Esimerkiksi +358401234567. Puhelinnumero paljastetaan ainoastaan tapahtuman
						järjestäjälle.</small>
				</p>
				<p>
					<label>Salasana: <input id="currentPassword" type="password" name="password" required
							autocomplete="current-password" /></label><br />
					<small>Vahvista tietojen päivitys antamalla nykyinen salasanasi.</small>
				</p>
				<p>
					<button type="submit">Päivitä tiedot</button>
				</p>
			</form>
			<h2>Vaihda sähköpostiosoite</h2>
			<form action="/profile/update-email" method="POST">
				<p>
					<label>Uusi sähköpostiosoite: <input id="newEmail" type="email" name="email" required
							autocomplete="off" /></label><br />
				</p>
				<p>
					<label>Salasana: <input id="newEmailPassword" type="password" name="password" required
							autocomplete="current-password" /></label><br />
					<small>Vahvista sähköpostiosoitteen vaihto antamalla nykyinen salasanasi.</small>
				</p>
				<p>
					<button type="submit">Päivitä sähköposti</button>
				</p>
			</form>
			<h2>Vaihda salasana</h2>
			<form action="/profile/update-password" method="POST">
				<p>
					<label>Nykyinen salasana: <input id="newOldPassword" type="password" name="oldPassword" required
							autocomplete="current-password" /></label><br />
				</p>
				<p>
					<label>Uusi salasana: <input id="newPassword" type="password" name="newPassword" required
							autocomplete="new-password" /></label><br />
					<small>
						Vinkki: hyvä salasana on pitkä helposti muistettava lause.<br />
						Esimerkki: örkiltä putosi pöksyt ja nyt minun pitää silittää ne
					</small>
				</p>
				<p>
					<label>Vahvista salasana: <input id="newConfirmPassword" type="password" name="confirmPassword"
							required autocomplete="new-password" /></label><br />
					<small>Kirjoita uusi salasana uudelleen.</small>
				</p>
				<p>
					<button type="submit">Päivitä salasana</button>
				</p>
			</form>
			<h2>Unohtunut salasana</h2>
			<p>Unohditko salasanasi? Pyydä salasananvaihtolinkki sähköpostiisi!</p>
			<form action="/profile/forgot-password" method="POST">
				<p>
					<button type="submit">Lähetä vaihtolinkki</button>
				</p>
			</form>
			<h2>Tunnuksen poistaminen</h2>
			<p>Ota yhteys ylläpitoon: <a
					href={`mailto:${import.meta.env.PRIMARY_EMAIL_FROM}`}>{import.meta.env.PRIMARY_EMAIL_FROM}</a></p>
		</div> : <>
			<p>Tarvitsee päästä miittiin mutta sinulla ei ole tunnusta? Pyydä linkki sähköpostiin!</p>
			<div style="display:flex;flex-wrap:wrap;gap:1rem">
				<form action="/profile/login-by-email" method="POST" style="flex:1 1 calc(50% - 1rem);min-width:20rem">
					<h2>Kirjaudu linkillä</h2>
					<p>Saat sähköpostiisi linkin, jolla pääset sisään.</p>
					<p>
						<label>Sähköposti: <input id="email-by-link" type="email" name="email" required
								autocomplete="email" /></label><br />
					</p>
					<p>
						<button type="submit">Lähetä linkki</button>
					</p>
				</form>
				<form action="/profile/login-by-password" method="POST"
					style="flex:1 1 calc(50% - 1rem);min-width:20rem">
					<h2>Kirjaudu salasanalla</h2>
					<p>Salasanalla pääset kirjautumaan sisään välittömästi.</p>
					<p><label>Sähköposti: <input id="email-by-password" type="email" name="email" required
								autocomplete="email" /><br /></label></p>
					<p>
						<label>Salasana: <input id="password" type="password" name="password" minlength={8} required
								autocomplete="current-password" /><br /></label>
						<small>Unohditko salasanasi? Kirjaudu sisään sähköpostiosoitteella!</small>
					</p>
					<p>
						<button type="submit">Kirjaudu</button>
					</p>
				</form>
			</div>
		</>}

		<style>
			label {
				cursor: pointer;
			}

			input:is([type="checkbox"], [type="radio"]) {
				cursor: pointer;
			}

			p label input:not([type="checkbox"]):not([type="radio"]) {
				display: block;
				margin-bottom: -1.5rem;
			}
		</style>

		<div class="depends-on-local-storage">
			<hr />
			<h2>Paikalliset asetukset</h2>
			<p>Nämä asetukset vaikuttavat sivuston käyttökokemukseen ainoastaan tässä selaimessa.</p>
			<p>
				<label><input id="open-dyslexic" type="checkbox" /> Lukivaikeus? Ota käyttöön OpenDyslexic</label>
			</p>
		</div>
		<script is:inline>
			!function () {
				try {
					const checkbox = document.querySelector('#open-dyslexic');
					if (checkbox && checkbox instanceof HTMLInputElement) {
						checkbox.checked = localStorage.useOpenDyslexic != null;

						checkbox.onclick = function () {
							const useOpenDyslexic = localStorage.useOpenDyslexic == null;

							if (!useOpenDyslexic) {
								localStorage.removeItem('useOpenDyslexic');
							} else {
								localStorage.useOpenDyslexic = '';
							}

							checkbox.checked = useOpenDyslexic;

							document.documentElement.dataset.localStorage = Object.keys(localStorage).join(' ');
							if (useOpenDyslexic && !document.fonts.check('0 OpenDyslexic')) {
								const link = document.createElement('link');
								link.rel = 'stylesheet';
								link.href = '/fonts/OpenDyslexic.css';
								document.head.appendChild(link);
							}
						}
					}
				} catch (e) { }
			}()
		</script>

		<hr />

		<h2>Tietosuojasta</h2>
		<p>
			Mellon kerää välttämättömiä tietoja miittien järjestämisen mahdollistamiseksi, sekä käyttää evästeitä
			käyttäjän tunnistamiseen. Rekisteriin tallennetaan nimi, sähköpostiosoite ja syntymäpäivä. Näitä tietoja ei
			paljasteta muille palvelun käyttäjille: ainut näytettävä tieto on julkinen nimi / nimimerkki, sekä tieto
			osallistumisesta tai perumisesta. Tapahtuman järjestäjä saa tietoonsa vapaamuotoinen kentän joka voi
			sisältää henkilökohtaisia terveystietoja kuten allergiat. Järjestäjä saa tietää osallistujan iän tapahtuman
			alkamispäivänä, mutta ei syntymäpäivää.
		</p>
		<p>
			Palvelu ei käytä kolmannen osapuolen evästeitä. Mellonin käyttäjätunnus on käytössä ainoastaan tässä
			palvelussa.
		</p>
	</main>
	<PageFooter />
</body>

</html>
