---
import BaseHead from "$/components/BaseHead.astro";
import PageFooter from "$/components/PageFooter.astro";
import PageHeader from "$/components/PageHeader.astro";
import { getClearCookie, getMemberIdFromCookie } from "$/lib/auth";
import { sql } from "$/lib/db";
import { Member } from "$/types/db";

const memberId = getMemberIdFromCookie(Astro.request.headers.get('cookie'))
const member = memberId != null ? (await sql<Member[]>`SELECT * FROM members WHERE id = ${memberId}`).pop() : undefined

if (member) {
	Astro.response.headers.set('Cache-Control', 'private, max-age=30')
	Astro.response.headers.set('Set-Cookie', getClearCookie('login'))
	Astro.response.headers.set('X-Robots-Tag', 'noindex')
} else if (memberId != null) {
	Astro.response.headers.set('Set-Cookie', getClearCookie('token'))
}

const dialog = new URL(Astro.request.url).searchParams.get('dialog')
const showLoggedOut = !member && dialog === 'logged-out'
const showLoginLinkEmailSent = !member && dialog === 'login-link-email-sent'
const showLoginInvalidEmail = !member && dialog === 'login-invalid-email'
const showLoginCompleted = !!member && dialog === 'login-completed'

if (member || dialog != null) {
	Astro.response.headers.set('X-Robots-Tag', 'noindex')
}

---

<html lang="fi">

<BaseHead title="Omat tiedot Mellonissa" description="Käyttäjätiedot Mellonissa ja tietoa tietosuojasta" />

<body>
	<PageHeader />
	<main id="main">
		{showLoginCompleted && <div>Sinut on kirjattu sisään!</div>}
		{showLoggedOut && <div>Sinut on kirjattu ulos!</div>}
		{showLoginLinkEmailSent && <div>Kirjautumislinkki on lähetetty sähköpostiisi ja sen pitäisi saapua pian. Viesti
			saattaa viipyä matkalla mm. työpaikkojen sähköpostien turvatarkistuksien vuoksi. Jos viesti ei saavu
			perille, niin yritä uudelleen tai kokeile eri sähköpostiosoitetta.</div>}
		{showLoginInvalidEmail && <div>Kirjautuminen ei onnistunut: sähköpostiosoite ei näyttänyt sähköpostiosoitteelta.
		</div>}

		<h1>Omat tiedot</h1>

		{member ? <div>
			<form action="/profile/logout" method="POST">
				<p>
					Tervehdys <code>{member.email}</code>!<br />
					<button type="submit">Kirjaudu ulos</button>
				</p>
			</form>
			<form action="/profile/update" method="POST">
				<h2>Tunnuksen tiedot</h2>
				<p>
					<label>Julkinen nimi / nimimerkki: <input id="publicname" name="publicname"
							placeholder="Nimi ilmoittautumislistalla" required type="text"
							value={member.publicname} /></label><br />
					<small>Ilmoittautumislistalla kaikille näkyvä nimi, kuten nimimerkki, kutsumanimi tai oikea
						etunimi.</small>
				</p>
				<p>
					<label>Etu- ja sukunimi: <input id="fullname" name="fullname" placeholder="Oikea nimesi" required
							type="text" value={member.fullname} /></label><br />
					<small>Oikea nimesi paljastetaan ainoastaan tapahtuman järjestäjälle.</small>
				</p>
				<p>
					<label>Syntymäpäivä muotoa VVVV-KK-PP: <input id="dob" name="dob" placeholder="VVVV-KK-PP" required
							type="text" value={member.dob?.toISOString().slice(0, 10) || '' } /></label><br />
					<small>Ikäsi tapahtuman alkaessa paljastetaan tapahtuman järjestäjälle, ei syntymäpäivääsi.</small>
				</p>
				<p>
					<label>Puhelinnumero: <input id="phone" name="phone" placeholder="" type="tel"
							value={member.phone} /></label><br />
					<small>Puhelinnumero paljastetaan ainoastaan tapahtuman järjestäjälle.</small>
				</p>
				<p>
					<button type="submit">Päivitä tiedot</button>
				</p>
			</form>
			<h2>Vaihda sähköpostiosoite</h2>
			<form action="/profile/update-email" method="POST">
				<p>
					<label>Uusi sähköpostiosoite: <input id="newEmail" type="email" name="email"
							required /></label><br />
				</p>
				<p>
					<label>Salasana: <input id="newEmailPassword" type="password" name="password"
							required /></label><br />
					<small>Vahvista sähköpostiosoitteen vaihto antamalla nykyinen salasanasi.</small>
				</p>
				<p>
					<button type="submit">Vaihda sähköposti</button>
				</p>
			</form>
			<h2>Vaihda salasana</h2>
			<form action="/profile/update-password" method="POST">
				<p>
					<label>Nykyinen salasana: <input id="newOldPassword" type="password" name="oldPassword"
							required /></label><br />
				</p>
				<p>
					<label>Uusi salasana: <input id="newPassword" type="password" name="newPassword"
							required /></label><br />
					<small>
						Vinkki: hyvä salasana on pitkä helposti muistettava lause.<br />
						Esimerkki: örkiltä putosi pöksyt ja nyt minun pitää silittää ne
					</small>
				</p>
				<p>
					<label>Vahvista salasana: <input id="newConfirmPassword" type="password" name="confirmPassword"
							required /></label><br />
					<small>Kirjoita uusi salasana uudelleen.</small>
				</p>
				<p>
					<button type="submit">Vaihda salasana</button>
				</p>
			</form>
			<h2>Tunnuksen poistaminen</h2>
			<p>Ota yhteys ylläpitoon: <a
					href={`mailto:${import.meta.env.PRIMARY_EMAIL_FROM}`}>{import.meta.env.PRIMARY_EMAIL_FROM}</a></p>
		</div> : <>
			<p>Tarvitsee päästä miittiin mutta sinulla ei ole tunnusta? Pääset palveluun sisään sähköpostiosoitteella!
			</p>
			<div style="display:flex;flex-wrap:wrap;gap:1rem">
				<form action="/profile/login-by-email" method="POST" style="flex:1 1 calc(50% - 1rem);min-width:20rem">
					<h2>Kirjaudu sähköpostiosoitteella</h2>
					<p>Saat sähköpostiisi linkin, jolla pääset sisään.</p>
					<p>
						<label>Sähköposti: <input type="email" name="email" required /></label><br />
					</p>
					<p>
						<button type="submit">Lähetä linkki</button>
					</p>
				</form>
				<form action="/profile/login-by-password" method="POST"
					style="flex:1 1 calc(50% - 1rem);min-width:20rem">
					<h2>Kirjaudu salasanalla</h2>
					<p>Salasanalla pääset kirjautumaan sisään välittömästi.</p>
					<p><label>Sähköposti: <input type="email" name="email" required /><br /></label></p>
					<p>
						<label>Salasana: <input type="password" name="password" required /><br /></label>
						<small>Unohditko salasanasi? Kirjaudu sisään sähköpostiosoitteella!</small>
					</p>
					<p>
						<button type="submit">Kirjaudu</button>
					</p>
				</form>
			</div>
			<p>Mellonin tunnus on käytössä ainoastaan tässä palvelussa.</p>
		</>}

		<style>
			p label input {
				display: block;
				margin-bottom: -1.5rem;
			}
		</style>

		<hr />

		<h2>Tietosuojasta</h2>
		<p>
			Mellon kerää välttämättömiä tietoja miittien järjestämisen mahdollistamiseksi, sekä käyttää evästeitä
			käyttäjän tunnistamiseen. Rekisteriin tallennetaan nimi, sähköpostiosoite ja syntymäpäivä. Näitä tietoja ei
			paljasteta muille palvelun käyttäjille: ainut näytettävä tieto on julkinen nimi / nimimerkki, sekä tieto
			osallistumisesta tai perumisesta. Tapahtuman järjestäjä saa tietoonsa vapaamuotoinen kentän joka voi
			sisältää henkilökohtaisia terveystietoja kuten allergiat. Järjestäjä saa tietää osallistujan iän tapahtuman
			alkamispäivänä, mutta ei syntymäpäivää.
		</p>
		<p>Palvelu ei käytä kolmannen osapuolen evästeitä.</p>
	</main>
	<PageFooter />
</body>

</html>
