---
import { isBefore, eachDayOfInterval, endOfDay, isSameDay, isWithinInterval, addMinutes, startOfDay } from 'date-fns'
import locale from 'date-fns/locale/fi/index.js'
import { format } from 'date-fns-tz';
import { marked } from 'marked'

import { Toggle } from '$/components/atoms/Toggle';
import BaseHead from "$/components/BaseHead.astro";
import { CheckPick } from '$/components/CheckPick';
import Icon from '$/components/Icon.astro';
import OrganizerMenu from '$/components/OrganizerMenu.astro';
import PageFooter from '$/components/PageFooter.astro';
import PageHeader from "$/components/PageHeader.astro";
import { getMemberIdFromCookie } from '$/lib/auth';
import { getLogger } from '$/lib/bugsnag';
import { meetupToZonedTime, toZonedTime } from '$/lib/date';
import { sql } from '$/lib/db'
import { getRegistrationCloseDate } from '$/lib/meetup';
import { getRegLevel } from '$/lib/registration';
import { formatPrettyReference } from '$/lib/reference';
import ErrorPage from '$/pages/404.astro'
import type { Meetup, Member, Place, Registration } from "$/types/db";

const opts = { locale, timeZone: 'Europe/Helsinki' }

const now = new Date()
const nowFinnish = toZonedTime(new Date())
const id = Math.round(Number(Astro.params.id))

const memberId = getMemberIdFromCookie(Astro.request.headers.get('cookie'))
const member = memberId != null ? (await sql<Member[]>`SELECT * FROM members WHERE id = ${memberId}`).pop() : undefined
const meetup = (id > 0 || undefined) && (await sql<Meetup[]>`SELECT * FROM meetups WHERE id = ${id}`).map(meetupToZonedTime).pop()

const place = meetup && (await sql<Place[]>`SELECT * FROM places WHERE id = ${meetup.placeId}`).pop()
const [{ name: organizerName }] =
	(meetup?.organizer === 'member' && await sql<{ name: string }[]>`SELECT publicname AS name FROM members WHERE id = ${meetup.memberId}`) ||
	(meetup?.organizer === 'organization' && meetup.organizationId && await sql<{ name: string }[]>`SELECT name AS name FROM organizations WHERE id = ${meetup.organizationId}`) ||
	[{ name: undefined }]

async function fetchRegistrations(meetupId: number) {
	return sql<Registration[]>`
		SELECT *
		FROM registrations
		WHERE "meetupId" = ${meetupId}
		ORDER BY "isOrganizer" DESC,
			"cancelled" ASC NULLS FIRST,
			"confirmed" ASC NULLS LAST,
			"registered" ASC NULLS LAST,
			"id" ASC
	`
}

const registrations: Registration[] = await fetchRegistrations(id)

const hasData = meetup != null && member != null
const isOwner = hasData && meetup.memberId === member.id
const isOrganizer = hasData && registrations.some(reg => reg.isOrganizer && reg.memberId === member.id)
const hasAccess = isOwner || isOrganizer

const meetupInterval = (meetup && meetup.begin && meetup.end && { start: startOfDay(meetup.begin), end: endOfDay(meetup.end) }) || null
const meetupDays = meetupInterval ? eachDayOfInterval(meetupInterval) : []

const closeDate = getRegistrationCloseDate(meetup)
const registrationInterval = (meetup?.open != null && closeDate != null && { start: meetup.open, end: closeDate }) || null
const isRegistrationOpen = registrationInterval != null && isWithinInterval(nowFinnish, registrationInterval)

const isPost = Astro.request.method.toUpperCase() === 'POST'
const isSubmit = isRegistrationOpen && isPost

const memberRegs = isRegistrationOpen && member
	? registrations.filter(registration => registration.memberId === member.id).sort((a, b) => a.id - b.id)
	: []

type ErrorType = 'database-error'
type SuccessType = 'cancel-success' | 'update-success' | 'nothing-to-update'

const errors = new Set<ErrorType>()
const success = new Set<SuccessType>()

if (isSubmit && member) {
	const memberRegMap = memberRegs.reduce<Map<number, Registration>>((map, reg) => {
		map.set(reg.id, reg)
		return map
	}, new Map())

	const formData = await Astro.request.formData()

	const cancelAll = formData.get('cancel') != null
	const markedParticipation = new Set<number>()
	const days = new Map<number, string[]>(memberRegs.map(reg => [reg.id, []]))

	for (let [key, value] of formData.entries()) {
		if (typeof value !== 'string') continue

		const item = /^(level|days)\[(\d+)\]$/.exec(key)
		if (!item) continue
		const [_, type, regId] = item
		const oldReg = memberRegMap.get(Number(regId))
		if (!oldReg) continue

		if (type === 'level') {
			if (value === 'yes') markedParticipation.add(oldReg.id)
		} else if (type === 'days') {
			if (meetupInterval && /^\d\d\d\d-\d\d-\d\d$/.test(value)) {
				const day = new Date(value)
				if (isWithinInterval(day, meetupInterval)) {
					if (days.size < 6 || days.has(oldReg.id)) {
						const arr = days.get(oldReg.id) ?? []
						days.set(oldReg.id, arr.concat(value))
					}
				}
			}
		}
	}

	const updateDays: [number, string | null][] = []

	days.forEach((memberDays, regId) => {
		const reg = memberRegMap.get(regId)
		if (reg) {
			const uniqueDays = Array.from(new Set(memberDays)).sort()

			if (uniqueDays.length === meetupDays.length || uniqueDays.length === 0 && reg.cancelled != null && markedParticipation.has(reg.id)) {
				if (reg.days != null) updateDays.push([regId, null])
			} else {
				const days = uniqueDays.join(' ')
				if (reg.days !== days) updateDays.push([regId, days])
			}
		}
	})

	const removeParticipation = (cancelAll
		? memberRegs.filter(reg => reg.cancelled == null)
		: memberRegs.filter(reg => !reg.isOrganizer && reg.cancelled == null && reg.confirmed != null && !markedParticipation.has(reg.id))
	).map(({ id }) => id)
	const addParticipation = cancelAll ? [] : memberRegs.filter(reg => !reg.isOrganizer && (reg.cancelled == null && reg.confirmed == null || reg.cancelled != null && reg.confirmed == null) && markedParticipation.has(reg.id)).map(({ id }) => id)
	const restoreParticipation = cancelAll ? [] : memberRegs.filter(reg => !reg.isOrganizer && reg.cancelled != null && reg.confirmed != null && markedParticipation.has(reg.id)).map(({ id }) => id)

	if (removeParticipation.length === 0 && addParticipation.length === 0 && restoreParticipation.length === 0 && updateDays.length === 0) {
		success.add('nothing-to-update')
	} else {
		try {
			if (updateDays.length > 0) {
				await sql.begin(sql => updateDays.map(
					([id, days]) => sql<Registration[]>`
						UPDATE registrations
						SET "days" = ${days}
						WHERE "id" = ${id}
					`
				))
			}

			if (addParticipation.length) {
				await sql`
					UPDATE registrations
					SET "confirmed" = ${now}, "cancelled" = null
					WHERE "id" IN ${sql(addParticipation)};
				`

				const nobodyHadConfirmedBefore = memberRegs.every(({ confirmed }) => confirmed == null)
				if (nobodyHadConfirmedBefore) {

				}
			}

			if (removeParticipation.length) {
				await sql`
					UPDATE registrations
					SET "cancelled" = ${now}
					WHERE "id" IN ${sql(removeParticipation)}
				`
			}

			if (restoreParticipation.length) {
				await sql`
					UPDATE registrations
					SET "cancelled" = null
					WHERE "id" IN ${sql(restoreParticipation)};
				`
			}

			registrations.length = 0
			memberRegs.length = 0

			const updatedRegs = await fetchRegistrations(id)

			updatedRegs.forEach((reg) => {
				registrations.push(reg)
				if (reg.memberId === member.id) memberRegs.push(reg)
			})

			memberRegs.sort((a, b) => a.id - b.id)

			success.add(cancelAll ? 'cancel-success' : 'update-success')
		} catch (error) {
			if (typeof error === 'string') {
				errors.add(error as ErrorType)
			} else if (error instanceof Error) {
				getLogger().notify(error)
				errors.add('database-error')
			}
		}
	}
}

const registrationOpens = meetup && meetup.open != null && isBefore(nowFinnish, meetup.open) && format(meetup.open, `EEEE d.M.Y 'klo' H:mm`, opts)
const registrationCloseDate = meetup && meetup.begin ? meetup.end ? isSameDay(meetup.begin, meetup.end) ? addMinutes(meetup.begin, -5) : endOfDay(meetup.begin) : meetup.begin : null
const registrationCloses = registrationOpens && registrationCloseDate != null && isBefore(nowFinnish, registrationCloseDate) && format(registrationCloseDate, `EEEE d.M.Y 'klo' H:mm`, opts)

const meetupWasInThePast = meetup && (meetup.end == null || isBefore(meetup.end, nowFinnish))
const textRegister = meetupWasInThePast ? 'Saattoi osallistua' : 'Ehkä'
const textConfirm = meetupWasInThePast ? 'Osallistui' : 'Tulossa'
const textCancel = meetupWasInThePast ? 'Ei osallistunut' : 'Perunut'
const textAdded = meetupWasInThePast ? 'Lisättiin' : 'Lisätty'

const dialog = new URL(Astro.request.url).searchParams.get('dialog')

if (member || dialog != null) {
	if (!isPost) {
		Astro.response.headers.set('Cache-Control', 'private, max-age=0')
	} else {
		Astro.response.headers.set('Cache-Control', 'no-cache')
	}
	Astro.response.headers.set('X-Robots-Tag', 'noindex')
} else if (isRegistrationOpen) {
	Astro.response.headers.set('Cache-Control', 'public, max-age=0')
} else {
	Astro.response.headers.set('Cache-Control', 'public, max-age=3600')
}

const breadcrumbs = meetup ? [
	{ href: '/', title: 'Etusivu' },
	{ href: `/meetups`, title: 'Miitit' },
	{ title: meetup.title }
] : []

---

{!meetup ?
<ErrorPage /> :

<html lang="fi">

<BaseHead title={meetup.title} description="Miitti" />

<body>
	<PageHeader breadcrumbs={breadcrumbs}>
		{hasAccess &&
		<OrganizerMenu meetupId={meetup.id} />}
	</PageHeader>

	<main id="main">
		{success.has('cancel-success') && <div>Osallistuminen peruttu.</div>}
		{success.has('update-success') && <div>Osallistuminen päivitetty!</div>}
		{success.has('nothing-to-update') && <div>Osallistumistietoja ei tarvinnut päivittää.</div>}
		{errors.has('database-error') && <div>Odottamaton virhe: tietokannan päivittäminen ei onnistunut!</div>}
		{dialog === 'registration-success' && <div>Ilmoittautumisesi on otettu vastaan!</div>}
		{dialog === 'registration-updated' && <div>Ilmoittautumisesi päivitettiin!</div>}
		<h1 style="margin-bottom:0">{meetup.title}</h1>
		{organizerName && <div><small>Järjestäjä: <strong>{organizerName}</strong></small></div>}
		{memberRegs.length > 0 ? <div class="participated">
			<h2>Olet ilmoittautunut tähän tapahtumaan!</h2>
			<p>Voit päivittää tietojasi niin kauan aikaa kuin ilmoittautuminen on auki.</p>
			{memberRegs[0].bankReference && <p>Viitenumero miitin maksamista
				varten:<br /><strong><code>{formatPrettyReference(memberRegs[0].bankReference)}</code></strong></p>}
			<p><a href={`/meetups/registration/${meetup.id}`}>Muuta ilmoittautumistietoja</a></p>
			<form action={`/meetups/view/${meetup.id}`} method="POST">
				<dl>
					{memberRegs.map(reg => {
					const regLevel = getRegLevel(reg)

					const regDates = reg.days && meetupInterval
					? reg.days
					.split(' ')
					.filter(date => /^\d\d\d\d-\d\d-\d\d$/.test(date))
					.map(date => new Date(date))
					.filter(date => isWithinInterval(date, meetupInterval))
					: []

					function inRegDates(date: Date) {
					return regDates.some(regDate => isSameDay(date, regDate))
					}

					return <div>
						<dt>{reg.publicname}</dt>
						<dd class="form-field" style="min-width:8.75rem">
							{regLevel==='organizer' ? <><strong>Järjestäjä</strong><br />Osallistuu</> :
							<label>
								Osallistuu:
								<Toggle checked={regLevel==='confirmed' } name={`level[${reg.id}]`}
									no={regLevel==='registered' ? 'Ehkä' : 'Ei' } value="yes" yes="Kyllä" />
							</label>}
						</dd>
						{meetupInterval && <dd class="form-field reg-days">
							<span>Paikalla:</span>
							<span class="dayspicks">
								{meetupDays.map(date => {

								const ymd = format(date, 'yyyy-MM-dd' , opts)
								const checked = regLevel !== 'cancelled' && (reg.days == null || inRegDates(date))
								const title = format(date, 'EEEE d.M.yyyy' , opts)

								return <CheckPick checked={checked} name={`days[${reg.id}]`} title={title} value={ymd}>
									{format(date, 'EEEEEE', opts).toUpperCase()}
								</CheckPick>
								})}
							</span>
						</dd>}
					</div>})}
				</dl>
				<p class="form-field participation-button">
					<button type="submit" class="button-alt2 cancel-button" name="cancel"
						onclick="return confirm('Haluatko varmasti perua osallistumisen?')"
						disabled={memberRegs.every(reg=> reg.cancelled != null)}>
						<Icon href="/icons/cross.svg" />
						{memberRegs.length > 1 ? 'Peru osallistumiset' : 'Peru osallistuminen'}
					</button>
					<button type="submit" class="button-alt">
						<Icon href="/icons/refresh.svg" />
						{memberRegs.length > 1 ? 'Päivitä osallistumiset' : 'Päivitä osallistuminen'}
					</button>
				</p>
			</form>
			<style>
				.cancel-button {
					--icon-stroke-color: var(--error-color);
				}

				.dayspicks {
					display: inline-flex;
					flex-wrap: wrap;
					gap: 0rem 0.25rem;
				}

				.participated {
					background: var(--bg-light-color-alt);
					border: thin solid var(--border-color);
					border-radius: 0.5rem;
					margin: 2rem 0;
					padding: 0 1.5rem;
				}

				.participation-button {
					display: flex;
					flex-wrap: wrap;
					gap: 0.5rem;
					justify-content: space-between;
				}

				@media not all and (min-width: 40rem) {
					.participation-button>* {
						flex-grow: 1;
					}
				}

				.participated dl {
					border-bottom: 3px double var(--border-color);
					border-top: 3px double var(--border-color);
					padding: 1rem 0;
				}

				.participated dl>div {
					align-items: center;
					display: flex;
					flex-wrap: wrap;
					gap: 0 1rem;
				}

				.participated dt {
					font-weight: bold;
					flex: 0 1 10rem;
					margin: 0;
					padding: 0 0 1rem;
				}

				.participated dd {
					margin: 0;
					padding: 0 0 1rem;
				}

				.reg-days {
					flex-grow: 1;
				}
			</style>
		</div> : isRegistrationOpen ? <p>
			<a class="button" href={`/meetups/registration/${meetup.id}`}>
				<Icon href="/icons/calendar.svg" />
				Ilmoittaudu tähän tapahtumaan
			</a>
		</p> : null}
		{!!meetup.description &&
		<div set:html={marked(meetup.description)} />}
		<h2>Muita yleisiä tietoja</h2>
		<ul>
			{registrationOpens && <li>Ilmoittautuminen aukeaa {registrationOpens}</li>}
			{registrationCloses && <li>Ilmoittautuminen sulkeutuu {registrationCloses}</li>}
			{meetup.isFree ? <li>Miitti on maksuton</li> : <li>Miitti ei ole ilmainen</li>}
			{meetup.enableDailyVisitors && <li>Miitissä saa käydä päivävierailulla</li>}
			{meetup.ageLimit > 0 && <li>Ikäraja: {meetup.ageLimit}</li>}
		</ul>
		{meetup.contactUrl && <p>Lisätietoja: <a
				href={`${meetup.contactUrl}`}>{decodeURIComponent(meetup.contactUrl)}</a></p>}
		{meetup.contactEmail && <p>Yhteydenotot: <a href={`mailto:${meetup.contactEmail}`}>{meetup.contactEmail}</a></p>
		}
		{place && <>
			<h2>Miittipaikka</h2>
			<p>
				<strong>{place.name}</strong>
				{place.streetAddress && <><br />{place.streetAddress}<br />{place.postalCode}{' '}{place.location}</>}
			</p>
			{meetup.beds > 0 && <p>Sänkypaikkoja: {meetup.beds} {meetup.enableCampingMembers && <span> (miitissä on
					mahdollista telttailla)</span>}</p>}
			{place.longitude ? <div class="map-browser">
				<button type="button" class="map-browser-button left" hidden>
					<Icon href="/icons/zoom-out.svg" />
				</button>
				<img class="map-browser-image" loading="lazy" alt="" src={`/places/map/${place.id}?zoom=3`} width="1305"
					height="748" />
				<button type="button" class="map-browser-button right" hidden>
					<Icon href="/icons/zoom-in.svg" />
				</button>
				<script type="module">
					const image = document.querySelector('.map-browser-image')
					const left = document.querySelector('.map-browser-button.left')
					const right = document.querySelector('.map-browser-button.right')
					left.removeAttribute('hidden')
					right.removeAttribute('hidden')
					right.disabled = true

					let zoomLevel = 3
					let loading = false

					function imageLoaded() {
						image.style = ''
					}

					image.onload = imageLoaded
					image.onerror = imageLoaded

					function setZoom(level) {
						zoomLevel = Math.min(Math.max(level, 0), 3)
						const url = new URL(image.src)
						url.searchParams.set('zoom', zoomLevel.toString())
						left.disabled = zoomLevel === 0
						right.disabled = zoomLevel === 3
						image.style = 'opacity:0.5'
						image.src = url
					}

					left.onclick = () => !loading && setZoom(zoomLevel - 1)
					right.onclick = () => !loading && setZoom(zoomLevel + 1)
				</script>
				<style>
					.map-browser {
						background-color: var(--border-color);
						box-shadow: 0 0 0 1px var(--border-color);
						position: relative;
					}

					button.map-browser-button {
						border-radius: 50%;
						min-width: 0;
						padding-inline: 0.5rem;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
					}

					.map-browser-button:active:not(:disabled) {
						transform: translateY(-50%) scale(1.25);
					}

					.left {
						left: 1rem;
					}

					.right {
						right: 1rem;
					}
				</style>
			</div> :
			<hr />}
			{place.description &&
			<div set:html={marked(place.description)} />}
			{place.howToGetThere && <>
				<h3>Saapumisohjeet</h3>
				<div set:html={marked(place.howToGetThere)} />
			</>}
		</>}
		{registrations.length > 0 && <>
			<h2>Ilmoittautuneet</h2>
			<table>
				<thead>
					<tr>
						<th>#</th>
						<th>Nimi</th>
						<th>Osallistuminen</th>
					</tr>
				</thead>
				<tbody>
					{registrations.map((registration, index) => <tr>
						<td>{index + 1}</td>
						<td>{registration.publicname}</td>
						<td>{registration.isOrganizer && 'Järjestäjä' || (registration.cancelled && textCancel) ||
							(registration.confirmed && textConfirm) || (registration.registered && textRegister) ||
							textAdded}</td>
					</tr>)}
				</tbody>
			</table>
			<p>Ilmoittautuneiden järjestys riippuu siitä milloin he ovat vahvistaneet osallistuvansa.</p>
			<style>
				table {
					--odd-cell-color: var(--bg-light-color);
					--even-cell-color: var(--bg-light-color-alt);
					margin: 1rem -1rem;
				}

				td,
				th {
					padding: 0.5rem 1rem;
					text-align: left;
				}

				th {
					font-size: 0.875rem;
				}

				td:first-child,
				th:first-child {
					text-align: right;
				}

				tbody>tr:nth-child(odd)>td {
					background-color: var(--odd-cell-color);
				}

				tbody>tr:nth-child(even)>td {
					background-color: var(--even-cell-color);
				}
			</style>
		</>}
	</main>

	<PageFooter />
</body>

</html>}
