---
import BaseHead from "$/components/BaseHead.astro";
import Fellowship from "$/components/Fellowship.astro";
import Icon from "$/components/Icon.astro";
import PageFooter from '$/components/PageFooter.astro';
import PageHeader from "$/components/PageHeader.astro";
import { getYmdUTC, meetupToZonedTime } from '$/lib/date';
import { sql } from "$/lib/db";
import { getTextMeetupDateRange, getTextRegistrationClose, getTextRegistrationOpen } from '$/lib/meetup';
import type { Meetup, Organization, Place } from "$/types/db";

const upcomingMeetups = (await sql<Meetup[]>`SELECT * FROM meetups WHERE meetups.end >= ${getYmdUTC()}`).map(meetupToZonedTime)

const placeIds = new Set(upcomingMeetups.map(({ placeId }) => placeId))

const places = placeIds.size ? await sql<Place[]>`SELECT * FROM places WHERE id IN ${sql([...placeIds])}` : []
const placeMap = new Map<number, Place>()
places.forEach(place => {
	placeMap.set(place.id, place)
})

const organizationIds = new Set(upcomingMeetups.map(({ organizationId }) => organizationId).filter(x => x))

const organizations = organizationIds.size ? await sql<Organization[]>`SELECT * FROM organizations WHERE id IN ${sql([...organizationIds])}` : []
const organizationMap = new Map<number, Organization>()
organizations.forEach(organization => {
	organizationMap.set(organization.id, organization)
})

const now = new Date()

---

<html lang="fi">

<BaseHead title="Mellon — Tule, ystävä, ja ilmoittaudu miittiin!"
	description="Konnun miitteihin ilmoittautumispaikka." />

<body>
	<PageHeader />

	<main id="main">
		<h1>Tervetuloa, ystävä!</h1>
		<p>Mellonissa voi ilmoittautua miitteihin.</p>
		<h2>Tulevat miitit</h2>
		{upcomingMeetups.length > 0 ? <dl>
			{upcomingMeetups.map(meetup => {
			const willOpen = getTextRegistrationOpen({ format: `EEEEEE d.M.Y 'klo' H:mm`, now, meetup })
			const willClose = getTextRegistrationClose({ format: `EEEEEE d.M.Y 'klo' H:mm`, now, meetup })
			const isOpen = willOpen == null && willClose != null

			return <div>
				<dt>
					{meetup.organizer === 'organization' && meetup.organizationId != null &&
					<small>{organizationMap.get(meetup.organizationId)?.name}</small>}
					{meetup.organizer === 'member' && meetup.memberId != null && <small>Yksityishenkilön
						järjestämä</small>}
					{meetup.organizer === 'none' && <small>Epävirallinen oheistapahtuma (ei järjestäjää)</small>}
					<br />
					<a href={`/meetups/view/${meetup.id}`}><strong>{meetup.title}</strong></a>
				</dt>
				<dd>
					{getTextMeetupDateRange(meetup)}<br />
					<span>{placeMap.get(meetup.placeId)?.name}</span><br />
					{isOpen && <p>
						<a href={`/meetups/register/${meetup.id}`} class="button">
							Ilmoittaudu!
							<Icon href="/icons/duotone-calendar.svg" />
						</a>
					</p>}
					{(willOpen && <span>Ilmoittautuminen alkaa {willOpen}</span>) || (willClose &&
					<span>Ilmoittautuminen sulkeutuu {willClose}</span>) || <span>Ilmoittautuminen päättynyt</span>}
				</dd>
			</div>
			})}
		</dl> :
		<p>Tällä hetkellä ei ole tulevia miittejä.</p>}
	</main>
	<style>
		dl {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			margin: 1rem;
		}

		dl>div {
			border: thin solid var(--border-color);
			border-radius: 1rem;
			padding: 1rem;
		}

		dt {
			font-size: 1.25rem;
		}

		dt > small {
			font-size: 0.875rem;
			font-weight: bold;
		}

		dd {
			margin: 0;
			padding: 0.25rem;
		}
	</style>

	<Fellowship />

	<PageFooter />
</body>

</html>
